.errorUpload {
    background-color: #ffffff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 300px;
    position: relative;
    text-align: center; /* Центрируем текст по центру */
  }
  
  .modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modalContent {
    position: relative;
  }
  
  .modalClose {
    position: absolute;
    top: 5px; /* Отступ сверху */
    right: 5px; /* Отступ справа */
    font-size: 24px;
    cursor: pointer;
    color: #999999;
    border-radius: 20px;
    font-size: 50px;
  }
  
  .modalClose:hover {
    opacity: 0.8;
  }